<div class="container mt-4">
<button class="btn btn-outline-secondary mb-3" (click)="volver()">← Volver</button>

  <div *ngIf="loading" class="alert alert-info">Cargando...</div>
  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

  <div *ngIf="carta" class="row">
    <div class="col-md-4 text-center">
      <img [src]="getCardImg(carta.image)" (error)="onImgError($event)"
           class="img-fluid rounded shadow" style="max-width: 300px;" />
    </div>

    <div class="col-md-8">
      <h2>{{carta.name}}</h2>
      <p class="text-muted">{{carta.id}}</p>

      <table class="table table-bordered">
        <tbody>
          <tr *ngIf="carta.hp">
            <th>HP</th><td>{{ carta.hp }}</td>
          </tr>
          <tr *ngIf="carta.types?.length">
            <th>Tipo</th><td>{{carta.types.join(', ')}}</td>
          </tr>
          <tr *ngIf="carta.rarity">
            <th>Rareza</th><td>{{carta.rarity}}</td>
          </tr>
          <tr *ngIf="carta.illustrator">
            <th>Ilustrador</th><td>{{carta.illustrator}}</td>
          </tr>
          <tr *ngIf="carta.pricing?.cardmarket?.trend">
            <th>Precio (trend)</th><td>{{carta.pricing.cardmarket.trend}} €</td>
          </tr>
        </tbody>
      </table>

      <button class="btn mt-2"[ngClass]="enColeccion ? 'btn-danger' : 'btn-success'" (click)="toggleColeccion()">{{ enColeccion ? 'Quitar de colección' : 'Añadir a colección' }}</button>
      <div *ngIf="carta.attacks?.length" class="mt-4">
  <h4>Ataques</h4>
  <div class="row g-3">
    <div class="col-md-6" *ngFor="let atk of carta.attacks">
      <div class="card h-100 border-0 shadow-sm">
        <div class="card-body">
          <h6 class="card-title mb-1">{{ atk.name }}</h6>
          <p class="text-muted small mb-2">
            <strong>Coste:</strong> {{ atk.cost?.join(', ') || '-' }}
          </p>
          <p class="mb-1">
            <strong>Daño:</strong> {{ atk.damage || '-' }}
          </p>
          <p class="text-muted small mb-0">{{ atk.effect || '-' }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

    </div>
  </div>
</div>