

// Sobreescribimos las variables de Bootstrap ANTES de importarlo

$primary: #ffcb05;        
$danger: #ff0000;         
$secondary: #3b4cca;     
$border-radius-lg: 1.5rem; 


//Importamos Bootstrap vía SASS para que use nuestras variables personalizadas
@import "bootstrap/scss/bootstrap";



body {
    background-color: #f8f9fa; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 

}
.card {
    border: none; 

    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.02); 
    }
}

//Contenedor específico para los graficos de Chart.js
.chart-wrapper {
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1); 
}